<h2>cart</h2>
<div class="section">
    <div class="container">
        <table class="table mt-4">
           <tbody>
            {{#each cartItems}}
            <tr>
                <td>{{this.Product.Name}}</td>
                <td>Price : RS.{{this.Product.Price}}</td>
                <td><img style="height:50px; width:50px;" src="/product-images/{{this.Product.prodId}}.jpg"></td>
                <td><a href="/decrement/{{this.Product.prodId}}/{{this.Product.quantity}}" class="btn btn-secondary incdec"> - </a><span id="{{this.Product.prodId}}">  {{this.Product.quantity}}  </span><a href="/increment/{{this.Product.prodId}}/{{this.Product.quantity}}"  class="btn btn-secondary incdec"> + </a></td>
                <td><a href="/remove/{{this.Product.prodId}}/{{this.Product.quantity}}" class="btn btn-danger" >Remove</a></td>
                
            </tr>
            {{/each}}
           </tbody>
        </table>
    </div>
</div>
